
<div class="footer fixed-bottom">
    <a href="/outfits" class="active">Outfits</a>
    <a href="/outfits/new" class="nav-link">Add Outfit</a>
    <a href="/users/:id/outfits" class="nav-link">My Outfits</a>
</div>
<% if @outfits %>

  <% @outfits.each do |o| %>
  
    <div class="card-group"> 
        <div class="col-12"><h2><%= o.closet.user.first_name %> - <%= o.created_at.strftime("%m/%d/%Y") %></h2></div>
        <% o.clothes.each do |clothe| %>
        <div class="col-md-4 d-flex align-items-stretch card-column">
        <div class="card" style="width: inherit;">
            <div class="card-header">
                <% if clothe.clothing_type  %>
                    <%= clothe.clothing_type %>
                <% end  %>
            </div>  

            <div class="card-body">
                <% if clothe.clothing_pic.attached?  %>
                    <img class="card-img-top" src="<%=(url_for(clothe.clothing_pic))%>" alt="Card image cap">
                <% end  %>
            </div>

            <div class="card-footer text-center"> 
                <%= button_to( "View Item", clothe_path(clothe.id), :method => :get, :class => "btn btn-primary" ) %>
            </div>
        </div>
        </div>
        <% end %>
  </div>
  <hr class="my-4">
  <% end  %>
  
<% end  %>

