<div class="card-group">
    <div class="col-md-4 d-flex align-items-stretch card-column">
        <div class="card" style="width: inherit;">
            <div class="card-header"><h1 class="h3 mb-2 font-weight-normal">Get a Random Outfit</h1></div>
 
            <div class="card-body">
                <div class="form-group">
                    <%= button_to "Random Outfit", outfits_random_path, :class => "btn btn-primary", :method => :post %>
                </div>    
            </div>
        </div>
    </div> 

  
    <div class="col-md-4 d-flex align-items-stretch card-column">
        <div class="card" style="width: inherit;">
            <%= form_for :mtl, url: "look" do |f| %>
            <div class="card-header">
                <h1 class="h3 mb-2 font-weight-normal">Steal Their Look</h1>
            </div>

            <div class="card-body">
                
                <div class="form-group">
                <%= f.label :image_url %>
                <%= f.text_field :image_url %>
                </div> 
                
                <div class="form-check">
                <%= f.radio_button :gender, "Male", :class => "form-check-input"%>
                <label for="Male" class="form-check-label">Men's</label>
                </div>

                <div class="form-check">
                <%= f.radio_button :gender, "Female", :class => "form-check-input" %>
                <label for="Female" class="form-check-label">Women's</label>
                </div>  
            
                <div class="form-group">
                <%= f.submit "Steal Their Look", :class => "btn btn-primary"%>
                </div>
                
            </div>
        <% end %>
        </div>
    </div>
</div>
