<div class="add-new">
    <%= button_to "Random Outfit", action: "create", 
        :class => "btn btn-primary", :method => :post %>
</div> 
  

    <div class="form-group">
      <%= form_for :mtl, url: "look" do |f| %>
            <%= f.label :image_url %>
            <%= f.text_field :image_url %>
                 
    </div>

        <%= f.radio_button :gender, "Male"%>
        <label for="Male" class="btn btn-primary">Men's</label>
        
        <div class="form-check">
        <%= f.radio_button :gender, "Female", :class => "form-check-input" %>
        <label for="Female" class="form-check-label">Women's</label>
        </div>  
    </div>

        <%= f.submit "Submit", :class => "btn btn-primary"%>
      <% end %>
    </div>
    
</div>

