     <%= form_for @user, :html => {:class => 'form-signin'}, controller: 'users', action: 'create' do |f| %>
        
        
        <div class="card-body">
          

           <div class="form-row">
            <div class="form-group col-md-6 <%= @user.errors[:first_name].any? ? "has-error" : "" %>">
              <%= f.label :first_name%>
              <%= f.text_field :first_name, :class => 'form-control' %>
            </div>
            <div class="form-group col-md-6 <%= @user.errors[:last_name].any? ? "has-error" : "" %>">
              <%= f.label :last_name%>
              <%= f.text_field :last_name, :class => 'form-control' %>
            </div>
          </div>

          <div class="form-group <%= @user.errors[:email].any? ? "has-error" : "" %>">
            <%= f.label :email%>
            <%= f.text_field :email, :class => 'form-control' %>
          </div>

          <div class="form-group <%= @user.errors[:password].any? ? "has-error" : "" %>">
            <%= f.label :password%>
            <%= f.password_field :password, :class => 'form-control' %>
          </div>

          <div class="form-group <%= @user.errors[:password_confirmation].any? ? "has-error" : "" %>">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => 'form-control' %>
          </div>

           <div class="form-group <%= @user.errors[:password_confirmation].any? ? "has-error" : "" %>">
            <%= f.label :address %>
            <%= f.text_field :address, :class => 'form-control' %>
          </div>
          
          <div class="form-group">
            <%=f.submit :Submit, class: 'btn btn-success'%>
            
          </div>

          

          
        </div>
      <% end %>